/* .container 
{
    border: 1px solid black;
    width: 100%;
    background-color: lightblue;
    border: 1px solid red;

} */
.row 
{
    /* border: 1px solid rgba(142, 139, 139, 0.627); */
    border-radius: 40px;
    /* border: 1px solid red; */
    margin: auto;
    width: 70%;
    box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.203);
}
/* .row > div 
{
    border: 1px solid red;

} */
.form-banner img{
    width: 85%;  
    height: 100%;
    object-fit: contain;
}

.form-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.navbar{
    background-color: #000;
    color: #fff;
}
.nav-link,.navbar-brand{
    background-color: black;
    color: white;
}